@model int

<a href="/CartItems/ViewCart" class="position-relative" style="text-decoration: none;">
    <i class="bi bi-bag" style="font-size: 1.3rem; color: #198754;"></i>
    @if (Model > 0)
    {
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
            @Model
            <span class="visually-hidden">sản phẩm trong giỏ hàng</span>
        </span>
    }
</a>
